<div class="container-fluid p-0">

      <mat-toolbar dir="rtl" color="primary" class="row align-items-center justify-content-center header">
            <div class="col-8 col-xl-7 text-right">Header</div>
            <div class="col-2 col-xl-2">
                  <mat-form-field>
                        <mat-select [value]="themes[0].name">
                              <mat-option (click)="onSelectTheme(theme.name)" *ngFor="let theme of themes"
                                    [value]="theme.name">
                                    {{theme.name}}
                              </mat-option>
                        </mat-select>
                  </mat-form-field>
            </div>
            <div class="col-2 col-xl-2">
                  <button mat-fab color="accent" (click)="onShopingCart()">

                        <i [matBadge]="addedProductsQuantity" matBadgeColor="warn" class="material-icons">
                              shopping_cart
                        </i></button>
            </div>
      </mat-toolbar>


</div>
<mat-toolbar class="nav-bar">
      <div class="container text-center">
            <div class="row">
                  <div class="col-12">
                        <ul class="list-unstyled ">
                              <li class="navItem">


                                    <a routerLink="/main-page" routerLinkActive="underline">Home</a>

                              </li>
                              <li class="navItem">


                                    <a routerLink="/shoping-page" routerLinkActive="underline">Shop</a>

                              </li>
                              <li class="navItem">

                                    <a routerLink="/categories" routerLinkActive="underline">Categories</a>


                              </li>
                              <li class="navItem">

                                    <a routerLink="/about" routerLinkActive="underline">About</a>


                              </li>

                        </ul>
                  </div>
            </div>

      </div>
</mat-toolbar>