mat-toolbar {
  border-radius: 4px
}

button {
  margin-top: 80px;
  background-color: orange;
}

.showDetailBlock {
  height: 100px;
}

app-info-form button {
  width: 46%;
  margin-right: 5px;
  margin-left: 5px;
}

.submit-button:hover {
  background-color: yellowgreen;
}
