<div class="row justify-content-center mb-5">
      <div class="col-12 col-xl-9">
            <div class="row justify-content-right">
                  <div class="col-12 showDetailBlock">
                        <button (click)="openOrderDetails()" color="accent"
                              mat-raised-button>{{'Show Order details' | translate}} :
                              {{totalPrice$ | async | currency: 'ILS'}} </button>
                  </div>
            </div>


            <mat-toolbar
             class="mt-5"
             [style.color]="(styles$ | async)?.orderPersonalInfo_HeaderTextColor"
             [style.backgroundColor]="(styles$ | async)?.orderPersonalInfo_HeaderBgColor"
             >
                  <span>{{'Enter Your Information' | translate}}</span>
            </mat-toolbar>

            <div class="row ">
                  <div class="col-xl-12">

                  </div>
            </div>

            <mat-card>
                  <div class="row">

                        <div class="col-12">

                              <app-info-form (continuePayment)="saveOrderInfo()" [form]="form">
                                    <button
                                    [disabled]="isLoading"
                                    type="submit"
                                    color="accent"
                                    class="submit-button"
                                    [style.backgroundColor]="(styles$ | async)?.orderPersonalInfo_SubmitBtnColor"
                                          mat-raised-button (click)="saveOrderInfo()">בצע הזמנה <span
                                                class="material-icons">
                                                check
                                          </span></button>

                                    <button
                                    type="button"
                                    mat-button
                                    [style.backgroundColor]="(styles$ | async)?.orderPersonalInfo_BackBtnColor"
                                          (click)="goBack()">{{'Back' | translate}}<span class="material-icons">
                                            undo
                                          </span></button>
                              </app-info-form>
                        </div>


                  </div>
            </mat-card>
      </div>
</div>
