<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node mat-ripple matTreeNodePadding [matTreeNodePaddingIndent]="20" 
            *matTreeNodeDef="let node" matTreeNodeToggle>
            <li (click)="setCategory(node.GroupId)" class="mat-tree-node">
                  <!-- use a disabled button to provide padding for tree leaf -->
                  <button mat-icon-button disabled></button>
                  <span class="group-name">
                        {{node.GroupName}}

                  </span>

            </li>
      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-nested-tree-node matTreeNodePadding [matTreeNodePaddingIndent]="20" matTreeNodeToggle
            *matTreeNodeDef="let node; when: hasChild">
            <li (click)="setCategory(node.GroupId)">
                  <div class="mat-tree-node">
                        <button mat-icon-button [attr.aria-label]="'toggle ' + node.GroupName">
                              <mat-icon class="mat-icon-rtl-mirror">
                                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                              </mat-icon>
                        </button>
                        <span class="group-name">
                              {{node.GroupName}}

                        </span>

                  </div>
                  <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
                        <ng-container matTreeNodeOutlet></ng-container>
                  </ul>
            </li>
      </mat-nested-tree-node>
</mat-tree>