.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

ul {
  padding: inherit;
}

span.group-name {
  margin-inline-start: 15px;
}

mat-tree-node:hover {
  cursor: pointer;
  background-color: bisque;

}

.mat-tree-node:hover {
  cursor: pointer;
  background-color: bisque;

}

.group-name {
  font-size: 20px;
}


.is-active {
  background-color: bisque;

}
