<mat-sidenav-container class="example-container" appChangeTheme [themeName]="currentTheme$ | async"
      (backdropClick)="close('backdrop')">
      <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose position="end">
            <div *ngIf="totalDetails$ | async as totalDetails">
                  <app-order-details [orderedProducts]="totalDetails[0]" [orderedProductsAmount]="totalDetails[1]"
                        [extraOption]="totalDetails[2]" (delete)="removeFromCart($event)" (edit)="onEditShopingCart()">
                  </app-order-details>
            </div>
      </mat-sidenav>

      <mat-sidenav-content dir='rtl'>

            <app-header [logo]="logo$ | async" [isShowMenu]="isHandset$ | async"
                  [addedProductsQuantity]="(addedProductsToCart$ |async)?.length" (openShopingCart)="openShopingCart()"
                  (selectTheme)="onSelectTheme($event)">
            </app-header>


            <div class="content container-fluid">

                  <router-outlet></router-outlet>

            </div>


            <!-- </div> -->
            <div class="footer">
                  <app-footer></app-footer>
            </div>



      </mat-sidenav-content>
</mat-sidenav-container>