<mat-sidenav-container dir="rtl" class="example-container"  appChangeTheme [themeName]="currentTheme$ | async"
      (backdropClick)="close('backdrop')">
      <mat-sidenav dir="rtl" #sidenav class="orderDetails" (keydown.escape)="close('escape')"  position="end" disableClose>
            <div *ngIf="totalDetails$ | async as totalDetails">
                  <app-order-details [numberOfPayments]="numberOfPayments$ | async" [orderedProducts]="totalDetails[0]"
                        [orderedProductsAmount]="totalDetails[1]" [extraOption]="totalDetails[2]"
                       (edit)="onEditShopingCart()">
                  </app-order-details>
            </div>
      </mat-sidenav>
      <mat-sidenav dir="rtl" position="start"  #mobileMenu [hidden]="!(isShowMobileMenu$ | async)" (keydown.escape)="close('escape')"
           >
            <app-mobile-menu></app-mobile-menu>
      </mat-sidenav>

      <mat-sidenav-content dir='rtl'>

            <app-header [logo]="logo$ | async" [isShowMenu]="isHandset$ | async" [categories]="productCategories$ | async"
                  [addedProductsQuantity]="(addedProductsToCart$ |async)?.length" (openShopingCart)="openShopingCart()"
                  (selectTheme)="onSelectTheme($event)"  (showMobileMenu)="onShowMobileMenu()">
            </app-header>




            <!-- Add Content Here -->

            <div class="wrapper">
                  <div class="content">

                        <router-outlet></router-outlet>

                  </div>

                  <div class="footer">
                        <app-footer [storeSettings]="storeSettings$ | async"></app-footer>
                  </div>

            </div>


            <!-- </div> -->




      </mat-sidenav-content>
</mat-sidenav-container>
