mat-card {
  // max-height: 535px;
  max-width: 370px;
  max-height: 100%;
  cursor: pointer;

}


.price {
  font-size: 25px;
  margin-inline-start: auto;
  font-weight: 500
}

.btn-added-color {
  background-color: yellowgreen
}


img {
  max-height: 200px;
  object-fit: contain;
  height: fit-content;
}

// img:hover {
//   transition: all 0.5s;
//   width: 110%;
// }

.image-box {
  width: 100%;
}

.card-image {
  width: 100%;
}

.add-to-cart-button:hover {
  background-color: yellowgreen;
}

mat-card-actions {
  margin-bottom: 0 !important;
}


// .example-card {
//   max-width: 400px;
// }

.ellipsis {
  margin-bottom: 5px;
  height: 100px;
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  // white-space: nowrap;
  overflow: hidden;
}

// mat-card:hover {
//   transform: translate(-1px, -1px);
//   box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.30)
// }
