mat-card-title h1 {
  font-size: 35px;
}

.price {
  font-size: 25px;
  margin-inline-start: auto;
  font-weight: 500
}

.btn-added-color {
  background-color: yellowgreen
}

// button {
//   width: 100%;
// }

img {
  cursor: pointer;
}

.image-box {
  width: 100%;
}

.card-image {
  width: 100%;
}

.discription {
  overflow: overlay;
}

.add-to-cart-button:hover {
  background-color: yellowgreen;
}

mat-card-actions {
  margin-bottom: 0 !important;
}
