img {
  width: 100%;
  height: auto;
  max-height: 630px;
  object-fit: contain;
}

i.material-icons {
  cursor: pointer;
}

.imageBlock {
  width: 100%;
  height: auto;
}

span.material-icons {
  position: absolute;
  font-size: 60px;
  color: #ffab407d;
  margin-top: 20%;
}

span.material-icons.left {
  left: 0;
}

span.material-icons.right {
  right: 0;
}
