<div class="row justify-content-center main-box">
      <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">

            <div class="image-box">
                  <app-carousel [slides]="imagesForCarousel"></app-carousel>
            </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4" *ngIf="_mainBannerImages ">
            <div class="row">
                  <div class="col-12 col-sm-6 col-md-6 col-lg-12 col-xl-12 col-lg-12 col-xl-12">
                        <div class="image-box photo box-1" [ngStyle]="{'background-image': image1}">
                              <!-- <a routerLink="/shoping-page">
                                    <img width="100%" height="auto"
                                          [src]="_mainBannerImages.link1"
                                          alt="">
                              </a> -->

                        </div>

                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-12 col-xl-12" >

                        <div class="image-box photo box-2" [ngStyle]="{'background-image': image2}">
                              <!-- <a routerLink="/shoping-page">
                                    <img width="100%" height="auto"
                                          [src]="_mainBannerImages.link2"
                                          alt="">
                              </a>
 -->

                        </div>
                  </div>
            </div>
      </div>

</div>
