<div class="row justify-content-center">
      <div class="col-12 col-sm-7 col-md-7 col-lg-7 col-xl-7">
            <div class="image-box slider">
                  <app-carousel [slides]="imagesForCarousel"></app-carousel>
            </div>
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4" *ngIf="_mainBannerImages ">
            <div class="row">
                  <div class="col-12 ">
                        <div class="image-box box-1">
                              <a routerLink="/shoping-page">
                                    <img width="100%" height="auto"
                                          [src]="_mainBannerImages.link1"
                                          alt="">
                              </a>

                        </div>

                  </div>
                  <div class="col-12">


                        <div class="image-box box-2">
                              <a routerLink="/shoping-page">
                                    <img width="100%" height="auto"
                                          [src]="_mainBannerImages.link2"
                                          alt="">
                              </a>


                        </div>
                  </div>
            </div>
      </div>

</div>