a {
  text-decoration: none;
}

.responsive {
  width: 100%;
  height: auto;

}

.back-color {
  /* height: 100%; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-color h2 {
  font-weight: 900;
  font-size: 6rem;
  font-style: italic;
  line-height: 1;
  color: white;
}

.back-color h5 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1;
  color: white;

}

.back-color h3 {
  font-weight: bolder;
  line-height: 1;
  color: white;

}

.back-color h6 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 500;
  color: white;

}



@media all and (max-width: 1366px) {
  .bannerStyle {
    height: 470px !important;
  }
}

@media all and (max-width: 767px) {
  .bannerStyle {
    height: 300px !important;
  }
}

@media all and (max-width: 560px) {
  .bannerStyle {
    width: 345px !important;
    height: 200px !important;
  }

  .image-box {
    width: 400px;
    height: 300px;
  }
}


.image-box {
  width: 900px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media all and (min-width: 241px) and (max-width: 480px) {


  .image-box {
    width: 400px;
    height: 300px;
  }
}

@media all and (min-width: 481px) and (max-width: 768px) {


  // .image-box {
  //   width: 400px;
  //   height: 300px;
  // }
}





.bannerStyle {
  width: 900px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  color: #792626;
}
