.banner-box {
  height: 131px;
}

.image-box {
  cursor: pointer;
  position: relative;
  width: inherit;
  height: inherit;
}

li {
  width: 150px;
}

img {
  max-height: 110px;
  object-fit: contain;
}
