<div *ngIf="_banners else loading">
      <ul class="list-inline p-0" *ngIf="_banners.length !== 0; else empty">
            <li class="m-3 list-inline-item" *ngFor="let banner of _banners; let i = index">
                  <div class="banner-box">
                        <div class="image-box">
                              <!-- <span class="background">
                                    <span matTooltip="Remove" class="material-icons delete"
                                          (click)="onDelete(banner, i)">
                                          clear
                                    </span>
                                    <span matTooltip="Main photo" class="material-icons main" (click)="onSelect(i)">
                                          crop_original
                                    </span>
                              </span> -->

                              <img (click)="onSelect(i)" width="100%" height="auto" [src]="banner.FullName" alt="">


                        </div>
                        <!-- <h3><strong>{{'Title' | translate}}</strong>: {{banner.title}}</h3> -->

                  </div>
            </li>
      </ul>
      <ng-template #empty>
            <div class="m-auto">
                  <span class="existing-images">{{'NO ONE IMAGES'}}</span>
            </div>
      </ng-template>
</div>

<ng-template #loading>
      <mat-spinner class="m-auto"></mat-spinner>
</ng-template>