<div *ngIf="extraOptionSelected" class="col-xl-12 optionsInfo">
      <label>סיכום</label>
      <div class="mt-2">
            <h4> <span class="label"> סה"כ מחיר מוצרים </span>:
                  <span>{{totalProductsAmount| currency: 'ILS'}}</span>
            </h4>
            <h4> <span class="label"> שיטת משלוח </span>:
                  <span>{{extraOptionSelected.ShippingMethood }}</span>
            </h4>
            <h4> <span class="label"> סה"כ מחיר משלוח </span>:
                  <span>{{extraOptionSelected.ShippingPrice | currency: 'ILS'}}</span></h4>
      </div>
 
</div>