<div class="row">

      <div class="col-12 col-xl-4 p-0 box-1" [ngStyle]="{'background-image': image1?.link}">
            <div class="back-color">
                  <div class="m-auto">
                        <h2>Sale</h2>
                        <h5>Women's Collection</h5>
                        <h3>50% Off</h3>
                  </div>
            </div>

      </div>
      <div class="col-12 col-xl-4  p-0 box-2" [ngStyle]="{'background-image': image2?.link}">
            <div class="back-color">
                  <div class="m-auto">
                        <h6>New Arrival</h6>
                        <h2>Flat 50</h2>
                        <h5>Discount</h5>


                  </div>
            </div>

      </div>
      <div class="col-12 col-xl-4  p-0 box-3" [ngStyle]="{'background-image': image3?.link}">
            <div class="back-color">
                  <div class="m-auto">
                        <h2>Sale</h2>
                        <h5>Men's Collection</h5>

                        <h3>50% Off</h3>
                  </div>
            </div>

      </div>

</div>