<div class="row justify-content-center mb-5 content">
      <div class="col-12 col-xl-11 mb-4">
            <ul class="list-unstyled text-center p-0">
                  <li class="navItem" *ngFor="let category of productCategories; let i = index">
                        <button (click)="selectFeaturedProductsCategory(category)"
                              [ngClass]="{'mat-raised-button': category.GroupId === selectedCategory.GroupId}"
                              mat-button>
                              <a>{{category.GroupName}}</a>
                        </button>

                  </li>
            </ul>
      </div>
      <div class="col-12 col-xl-11 mb-5"  *ngIf="products; else loader">
            <mdb-carousel [type]="'carousel-multi-item'" [animation]="'slide'"
                  *ngIf="products.length !== 0; else empty">
                  <mdb-carousel-item *ngFor="let product of products">
                        <div class="row mb-5">
                              <div class="col-12 col-xl-3" *ngFor="let card of product">

                                    <app-product (addToCart)="onAddToCart(card)"
                                          (removeFromCart)="onRemoveFromCart(card)" (moreInfo)="onMoreInfo(card)"
                                          [product]="card"></app-product>
                              </div>
                        </div>


                  </mdb-carousel-item>
            </mdb-carousel>

            <ng-template #empty>
                  <div class="m-auto text-center">
                        <h2>EMPTY CAROUSEL</h2>
                  </div>

            </ng-template>
      </div>
      <ng-template #loader>
            <div class="col-12 col-xl-11 mb-5">
                  <mat-spinner class="m-auto"></mat-spinner>
            </div>

      </ng-template>
</div>