li {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;

  a {
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: 700 !important;
    text-transform: uppercase;
    color: rgba(53, 53, 53, 0.81)
  }
}

.content {
  min-height: 600px;
  height: 700px;
}

.carousel-indicators li.ng-star-inserted {
  background-color: gainsboro;

}

.carousel-indicators li.ng-star-inserted.active {

  background-color: gray;
}



.controls-top.ng-star-inserted {
  display: none;

}
