<div class="row productBox justify-content-center mt-5 mb-5" *ngIf="product$ | async as product; else loader">
      <div class="col-xl-10 col-12 text-right">
            <button mat-button><a routerLink="/shoping-page">{{'Back to Shop' | translate}}</a></button>
      </div>
      <div class="col-xl-10 col-12">
            <mat-card>
                  <div class="row justify-content-center">
                        <div class="col-12 col-xl-5 sidebar  order-xl-second order-last">
                              <div class="col-8 col-xl-8 text-right productName">
                                    <h1>{{product.ProdName}}</h1>
                              </div>
                              <app-product-sidebar [product]="product" (addToCart)="addToShopingCart(product)"
                                    (removeFromCart)="removeFromCart(product)" (buyNow)="onBuyNow(product)">
                              </app-product-sidebar>
                        </div>
                        <div class="col-12 col-xl-7 image-slider order-xl-last  order-second">
                              <app-product-image [image]="product.image" (prevImage)="onPreviousImage()"
                                    (nextImage)="onNextImage()">
                              </app-product-image>
                        </div>
                  </div>
            </mat-card>

      </div>


</div>
<ng-template #loader>
      <mat-spinner class="m-auto"></mat-spinner>
</ng-template>