<div class="container-fluid mt-5">
      <div class="row">
            <div class="col-12">
                  <mat-tab-group>
                        <mat-tab label="{{'Main banner'| translate}}">
                              <app-main-banner></app-main-banner>
                        </mat-tab>
                        <mat-tab label="Second">
                              <div class="container">
                                    <div class="row">
                                          <div class="col-xl-4">
                                                SIDEBAR
                                          </div>
                                          <div class="col-xl-8">
                                                <div class="image-box">
                                                      <img src="https://via.placeholder.com/480x280">
                                                </div>

                                          </div>

                                    </div>
                              </div>
                        </mat-tab>
                        <mat-tab label="Third">
                              <div class="container">
                                    <div class="row">
                                          <div class="col-xl-6">SIDEBAR</div>
                                          <div class="col-xl-6">UPLOAD IMAGE</div>

                                    </div>
                              </div>
                        </mat-tab>
                  </mat-tab-group>



            </div>
      </div>
</div>